# Arquivos de teste
src/tests/
*.spec.ts
*.spec.tsx

# Arquivos de compilação
dist/
build/
.vite/

# Dependências
node_modules/

# Ambiente e config locais
.env.local
.env.*
.vscode/
.idea/

# Cache de ferramentas
coverage/
*.log
*.tsbuildinfo

# Outras coisas comuns
.DS_Store
