//About
.about {
    @include displayFlex(column, center, center);
    height: 100vh;
    padding: 2rem;
    gap: 3rem;
    background: var(--quaternary-color);

    & .about_image img {
        width: 36rem;
        height: 20rem;
        border-radius: 1rem
    }
    @include respond-to(large) {
        & .about_image img{
            width: 56rem;
            height: 30rem;
        }
    }
}

.about .about_texts {
    @include displayFlex(column, center, center);
    height: 100%;
    gap: 2rem;
    & p {
        font-size: 1.6rem;
        text-align: justify;
        color: var(--secundary-color);
    }

    & .about_texts_hardSkills {
        @include displayFlex(row, center, center);
        flex-wrap: wrap;
        gap: 0.8rem;

        & .about_texts_hardSkill {
            @include displayFlex(column, center, center);
            background: var(--secundary-color);
            height: 9rem;
            width: 9rem;
            gap: 1rem;
            font-size: 4rem;
            color: var(--quaternary-color);
            border-radius: 1.2rem;

            & p {
                text-align: center;
                font-size: 1.3rem;
                color: var(--quaternary-color);
            }
        }
    }
    @include respond-to(small) {
        @include displayFlex(column, center, center);
        width: 90%;
        gap: 4rem;
    }
    @include respond-to(large) {
        width: 90%;
        gap: 4rem;
        & p {
            font-size: 2.2rem;
        }
    }
}