//About
.about {
    @include displayFlex(column, center, center);
    height: auto;
    padding: 8rem 2rem;
    gap: 3rem;
    & .about_title {
        font-size: 2.6rem;
        color: var(--quaternary-color);
    }
    & h3{
        font-size: 2rem;
        color: var(--terciary-color);
        margin-bottom: 4rem;
    }
    @include respond-to(large) {
        & .about_image img{
            width: 56rem;
            height: 30rem;
        }
    }
}

.about .about_texts {
    @include displayFlex(column, center, center);
    height: 100%;
    gap: 2rem;

    & .about_texts_hardSkills {
        @include displayFlex(row, center, center);
        flex-wrap: wrap;
        gap: 1.4rem;

        & .about_texts_hardSkill {
            @include displayFlex(column, center, center);
            height: 9rem;
            width: 9rem;
            gap: 1rem;
            font-size: 4rem;
            color: var(--quaternary-color);
            border-radius: 1.2rem;
            border: 0.1rem solid var(--quaternary-color);
            & p {
                text-align: center;
                font-size: 1.3rem;
                color: var(--quaternary-color);
            }
        }
    }
    @include respond-to(small) {
        @include displayFlex(column, center, center);
        width: 90%;
        gap: 4rem;
    }
    @include respond-to(medium){
        & .about_texts_hardSkills{
            width: 80%;
        }
    }
    @include respond-to(large) {
        width: 90%;
        gap: 4rem;
        & .about_texts_hardSkills {
            width: 50%;
        }
    }
}