//Faq's
.faq {
    @include displayFlex(column, center, center);
    gap: 4rem;
    height: auto;
    width: 100%;
    padding: 4rem;
    color: var(--quaternary-color);

    & h2 {
        font-size: 2.6rem;
    }
}

.faq_items {
    @include displayFlex(column, center, center);
    gap: 1rem;
    width: 100%;

    & .faq_item {
        @include displayFlex(column, center, start);
        gap: 1rem;
        width: 100%;
        padding: 0.5rem;
        border-bottom: 0.2rem solid var(--terciary-color);

        & .question {
            @include displayFlex(row, space-between, center);
            width: 100%;
            color: var(--terciary-color);
            font-size: 2rem;

            :hover {
                cursor: pointer;
            }

            & .question_icon {
                font-size: 3rem;
            }
            @include respond-to(medium) {
                font-size: 2.4rem;
            }
        }
        @media (max-width: 450px) {
            & .question{
                font-size: 1.9rem;
            }
        }

        & .answer {
            display: none;
            font-size: 1.5rem;
            text-align: justify;
            line-height: 2rem;
        }
    }

    & .faq_item.active {
        & .answer {
            display: flex;
        }
    }
    @include respond-to(medium) {
        width: 70%;
    }
    @include respond-to(large) {
        width: 50%;
    }
}