//Footer
.footer {
    @include displayFlex(row, space-between, center);
    height: 6rem;
    padding: 0 2rem;
    border-top: 0.1rem solid $lightColor;

    & .footer_nets_list {
        @include displayFlex(row, center, center);
        gap: 2rem;

        & .footer_nets_item a{
            color: $lightColor;
            font-size: 3rem;
            &:hover {
                cursor: pointer;
                color: $Graycolor;
            }
        }
    }

    & .arrow {
        // position: absolute;
        cursor: pointer;
        right: 0;
        color: $lightColor;
        font-size: 4rem;
        animation: float ease-in-out infinite 3s;
        &:hover {
            cursor: pointer;
            color: $Graycolor;
        }
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(4px);
    }

    50% {
        transform: translateY(-10px);
    }
}