// Header
.header {
    @include displayFlex(row, center, center);
    color: var(--quaternary-color);
    width: 100%;
    height: 4rem;
    padding: 3rem 2rem;
    border-bottom: 0.1rem solid var(--quaternary-color);
    & .header_section_title {
        @include displayFlex(row, start, center);
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }

    & .header_anchor {
        border: 0.1rem solid var(--quaternary-color);
        color: var(--quaternary-color);
        font-size: 1.3rem;
        width: 14rem;
        padding: 0.5rem;
        border-radius: 2rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        &:hover{
            color: var(--secundary-color);
        }
        &::before{
            content: "";
            height: 100%;
            width: 0;
            background: var(--quaternary-color);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .5s;
        }
        &:hover::before{
            width: 100%;
        }
    }
    
    & .header_anchor .header_anchor_icon {
        font-size: 1rem;
        margin-left: 0.5rem;
        &:hover{
            color: var(--secundary-color);
        }
    }

    @include respond-to(medium) {
        @include displayFlex(row, space-evenly, center);
        & .header_section_title {
            width: 20%;
            height: 100%;
            font-size: 2rem;
        }
    }
}

.header_aside .header_aside_links{
    display: none;
    width: 100%;
    & .header_aside_link{
        font-size: 2rem;
        color: var(--quaternary-color);
        &:hover{
            color: var(--secundary-color);
            cursor: pointer;
        }
    }
    @include respond-to(medium) {
        // @include displayFlex(row, start, center);
        display: flex;
        gap: 2rem;
    }
    @include respond-to(large) {
        gap: 6rem;
    }
}