// Header
.header {
    width: 100%;
    position: relative;
    & .header_aside{
        @include displayFlex(row, center, center);
        position: fixed;
        height: 9rem;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        backdrop-filter: blur(0.3rem);
    }
}

.header_aside .header_aside_links{
    @include displayFlex(row, center, center);
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    background: var(--secundary-color);
    & .header_aside_link{
        padding: 0.8rem 2rem;
        & a{
            color: var(--quaternary-color);
            font-size: 1.6rem;
        }
        &:hover{
            cursor: pointer;
            border-radius: 2rem;
            background: var(--quaternary-color);
            & a{
                color: var(--secundary-color);
            }
        }
    }
    @include respond-to(small) {
        border-radius: 4rem;
        height: auto;
        width: 75%;
    }
    @include respond-to(medium) {
        width: 65%;
    }
    @include respond-to(large) {
        width: 50%;
    }
}