// Header
.header {
    width: 100%;
    position: relative;
    & .header_aside{
        @include displayFlex(row, center, center);
        height: 9rem;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        padding: 0.8rem;
        background: $Graycolor;
        z-index: 5;
        backdrop-filter: blur(0.3rem);
    }
}

.header_aside .header_aside_links{
    @include displayFlex(row, center, center);
    flex-wrap: wrap;
    width: 100%;
    & .header_aside_link{
        padding: 0.8rem 2rem;
        & a{
            color: $lightColor;
            font-size: 1.6rem;
        }
        &:hover{
            cursor: pointer;
            border-radius: 2rem;
            background: $lightColor;
            & a{
                color: $Graycolor;
            }
        }
    }
    @include respond-to(medium) {
        gap: 2rem;
    }
    @include respond-to(large) {
        gap: 6rem;
    }
}