//Home
.home {
    @include displayFlex(column-reverse, center, center);
    width: 100%;
    height: calc(100vh + 9rem);
    padding: 2rem;
    gap: 2rem;

    & .home_image img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        @include respond-to(medium){
            width: 20rem;
            height: 20rem;
        }
        @include respond-to(large){
            width: 25rem;
            height: 25rem;
        }
    }
}

.home_introducing {
    @include displayFlex(column, center, center);
    gap: 2rem;
    padding-bottom: 3rem;
    & h1 {
        font-size: 3.5rem;
        text-align: justify;
        color: var(--quaternary-color);
    }
    & p {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--terciary-color);
    }
    @include respond-to(small) {
        width: 80%;
        & p {
            font-size: 1.7rem;
        }
    }
    @include respond-to(medium) {
        width: 60%;
    }
    @include respond-to(large) {
        width: 40%;
    }
}

.home_anchor {
    border: 0.1rem solid var(--terciary-color);
    color: var(--terciary-color);
    font-size: 1.3rem;
    width: 14rem;
    padding: 0.5rem;
    border-radius: 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;

    &:hover {
        color: var(--primary-color);
    }

    &::before {
        content: "";
        height: 100%;
        width: 0;
        background: var(--terciary-color);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .5s;
    }

    &:hover::before {
        width: 100%;
    }
    & .home_anchor_icon {
        font-size: 1rem;
        margin-left: 0.5rem;

        &:hover {
            color: var(--primary-color);
        }
    }
}