//Projects
.projects {
    @include displayFlex(column, center, center);
    height: auto;
    padding-top: 10rem;
    gap: 4rem;
    color: $lightColor;
    & .projects_title {
        font-size: 2.6rem;
    }
}

.projects_content_list {
    width: 100%;
    @include displayFlex(column, center, center);
    flex-wrap: wrap;
    & li{
        @include displayFlex(column, center, center);
    }
}

//Projec Details
.ProjectDetails_card {
    width: 42rem;
    height: 50rem;
    padding: 2rem;
    & .ProjectDetails_card_infos {
        @include displayFlex(column, center, center);
        gap: 3rem;
        border: 0.1rem solid $lightColor;
        border-radius: 1.2rem;
        padding: 2rem 2rem;

        & img {
            width: 100%;
            height: 20rem;
            border-radius: 1.2rem;
        }
    }
    @include respond-to(large) {
        width: 64rem;
        height: 58rem;
        & .ProjectDetails_card_infos {
            & img {
                width: 100%;
                height: 30rem;
            }
        }
    }
}

.ProjectDetails_card_info {
    @include displayFlex(column, center, center);
    height: 100%;
    gap: 1rem;

    & .ProjectDetails_card_info_stack,
    .ProjectDetails_card_info_p {
        font-size: 1.6rem;
        color: $lightGraycolor;
    }

    & span {
        font-size: 1.4rem;
        color: var(--secundary-color);
    }

    & .ProjectDetails_card_info_p {
        text-align: justify;
    }
    @include respond-to(large) {
        gap: 2rem;
        & .ProjectDetails_card_info_stack, span{
            font-size: 1.8rem;
        }
    }
}