//Light Theme
$primaryLight: #fafee7;
$secundaryLight: #d0f165;
$terciaryLight: #7da90f;
$quaternaryLight: #1f2e05;
//Dark Theme
$primaryDark: #000;
$secundaryDark: #3d0000;
$terciaryDark: #950101;
$quaternaryDark: #ff0000;
