//Dark Theme
$bodyBackgroundDark: #030716;
$GrayColorDark: #353945ce;
$lightGraycolorDark: #92949A;
$lightColorDark: #F3F4F6;
$spanColorDark: #078d07;
//Light Theme
$bodyBackgroundLight: #FCFCFC;
$GrayColorLight: #a4a8adb7;
$lightGraycolorLight: #A7A9AD;
$lightColorLight: #030716;
:root {
    --primary-color: #{$bodyBackgroundLight};
    --secundary-color: #{$GrayColorLight};
    --terciary-color: #{$lightGraycolorLight};
    --quaternary-color: #{$lightColorLight};
    --quinternary-color: #078d07;
}

// Modo escuro
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #{$bodyBackgroundDark};
        --secundary-color: #{$GrayColorDark};
        --terciary-color: #{$lightGraycolorDark};
        --quaternary-color: #{$lightColorDark};
        --quinternary-color: #{$spanColorDark};
    }
}