* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 62.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
* a {
  text-decoration: none;
}

:root {
  --primary-color: #fafee7;
  --secundary-color: #d0f165;
  --terciary-color: #7da90f;
  --quaternary-color: #1f2e05;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1c243d;
    --secundary-color: #445583;
    --terciary-color: #4f6fc7;
    --quaternary-color: #b6c5f0;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--quaternary-color);
  width: 100%;
  height: 4rem;
  padding: 3rem 2rem;
  border-bottom: 0.1rem solid var(--quaternary-color);
}
.header .header_section_title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.header .header_aside {
  display: none;
}
.header .header_anchor {
  border: 0.1rem solid var(--quaternary-color);
  color: var(--quaternary-color);
  font-size: 1.3rem;
  width: 14rem;
  padding: 0.5rem;
  border-radius: 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.header .header_anchor:hover {
  color: var(--secundary-color);
}
.header .header_anchor::before {
  content: "";
  height: 100%;
  width: 0;
  background: var(--quaternary-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.header .header_anchor:hover::before {
  width: 100%;
}
.header .header_anchor .header_anchor_icon {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.header .header_anchor .header_anchor_icon:hover {
  color: var(--secundary-color);
}

.home {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: var(--quaternary-color);
  width: 100%;
  height: 100vh;
  padding: 2rem;
  gap: 2rem;
}
.home .home_image img {
  width: 31rem;
  height: 31rem;
  border-radius: 50%;
}

.home_introducing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.home_introducing h1 {
  font-size: 3.5rem;
  text-align: justify;
}
.home_introducing p {
  text-align: justify;
  font-size: 1.5rem;
  padding-right: 4rem;
  line-height: 2.5rem;
}
.home_introducing .home_introducing_nets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.home_introducing .home_introducing_nets .home_introducing_net {
  color: var(--terciary-color);
  font-size: 4rem;
}
.home_introducing .home_introducing_nets .home_introducing_net:hover {
  cursor: pointer;
  color: var(--quaternary-color);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  gap: 3rem;
  background: var(--quaternary-color);
}
.about .about_image img {
  width: 36rem;
  height: 20rem;
  border-radius: 1rem;
}

.about .about_texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4rem;
}
.about .about_texts p {
  font-size: 1.5rem;
  text-align: justify;
  color: var(--secundary-color);
}
.about .about_texts .about_texts_hardSkills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.about .about_texts .about_texts_hardSkills .about_texts_hardSkill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secundary-color);
  height: 9rem;
  width: 9rem;
  gap: 1rem;
  font-size: 4rem;
  color: var(--quaternary-color);
  border-radius: 1.2rem;
}
.about .about_texts .about_texts_hardSkills .about_texts_hardSkill p {
  text-align: center;
  font-size: 1.3rem;
  color: var(--quaternary-color);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 4rem 2rem;
  gap: 4rem;
  color: var(--quaternary-color);
}
.projects .projects_title {
  font-size: 2.6rem;
}

.projects_content_list {
  width: 100%;
}
.projects_content_list .pagination {
  color: red;
}
.projects_content_list .swiper-slide {
  text-align: center;
}

.ProjectDetails_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 46rem;
  padding: 2rem;
}
.ProjectDetails_card .ProjectDetails_card_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--quaternary-color);
  width: 100%;
  height: 90%;
  border-radius: 1.2rem;
  padding: 1rem 1.4rem;
}
.ProjectDetails_card .ProjectDetails_card_infos img {
  width: 100%;
  height: 20rem;
  border-radius: 1.2rem;
}

.ProjectDetails_card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
.ProjectDetails_card_info .ProjectDetails_card_info_stack,
.ProjectDetails_card_info .ProjectDetails_card_info_p {
  font-size: 1.4rem;
  color: var(--terciary-color);
}
.ProjectDetails_card_info span {
  font-size: 1.2rem;
  color: var(--secundary-color);
}
.ProjectDetails_card_info .ProjectDetails_card_info_p {
  text-align: justify;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  width: 100%;
  padding: 4rem;
  background: var(--quaternary-color);
  color: var(--secundary-color);
}
.faq h2 {
  font-size: 2.6rem;
}

.faq-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.faq-items .faq-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 0.2rem solid var(--secundary-color);
}
.faq-items .faq-item .question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--terciary-color);
  font-size: 2rem;
}
.faq-items .faq-item .question :hover {
  cursor: pointer;
}
.faq-items .faq-item .question .question_icon {
  font-size: 3rem;
}
.faq-items .faq-item .answer {
  display: none;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2rem;
}
.faq-items .faq-item.active .answer {
  display: flex;
}

.contact {
  height: 100vh;
}
.contact .contact_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100%;
  color: var(--quaternary-color);
}
.contact .contact_card .contact_card_title {
  font-size: 3rem;
}
.contact .contact_card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 84%;
  width: 90%;
  padding: 4rem 0;
  background: var(--quaternary-color);
  border-radius: 1.8rem;
}
.contact .contact_card form .register {
  text-align: center;
}
.contact .contact_card form .register #btn-send {
  font-size: 1.8rem;
  width: 100%;
  padding: 1.2rem;
  border-radius: 1.5rem;
  background: var(--terciary-color);
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.contact .contact_card form .register #btn-send:hover {
  color: black;
}
.contact .contact_card form .register #btn-send::before {
  background: var(--secundary-color);
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.6s;
  transform: translate(-50%, -50%) rotate(-35deg);
}
.contact .contact_card form .register #btn-send:hover::before {
  height: 370%;
}

form .formulary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0 4rem;
}
form .formulary .item_formulary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 8rem;
  width: 100%;
  padding: 1rem 0;
}
form .formulary .item_formulary:last-child {
  height: 20rem;
}
form .formulary .item_formulary label,
form .formulary .item_formulary label span {
  font-size: 1.6rem;
  color: var(--primary-color);
  padding-bottom: 0.5rem;
}
form .formulary .item_formulary label span {
  color: red;
}
form .formulary .item_formulary input {
  padding: 1rem;
  height: 4rem;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}
form .formulary .item_formulary input:focus {
  outline: none;
}
form .formulary .item_formulary textarea {
  resize: none;
  font-size: 1.6rem;
  height: 14rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}
form .formulary .item_formulary textarea::-moz-placeholder {
  font-size: 2rem;
}
form .formulary .item_formulary textarea::placeholder {
  font-size: 2rem;
}
form .formulary .item_formulary textarea:focus {
  outline: none;
}

.aviso {
  width: 100%;
  color: red;
  padding-bottom: 1rem;
  font-size: 1.4rem;
}

.div_form_send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  height: 30%;
  border-radius: 4rem;
  background: var(--quaternary-color);
}
.div_form_send h3 {
  color: var(--terciary-color);
  font-size: 2.2rem;
}
.div_form_send p {
  color: var(--secundary-color);
  font-size: 1.6rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 2rem;
  background: var(--quaternary-color);
}
.footer .footer_nets_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer .footer_nets_list .footer_nets_item {
  color: var(--primary-color);
  font-size: 3rem;
}
.footer .footer_nets_list .footer_nets_item:hover {
  cursor: pointer;
  color: var(--terciary-color);
}
.footer .arrow {
  cursor: pointer;
  right: 0;
  color: var(--primary-color);
  font-size: 4rem;
  animation: float ease-in-out infinite 3s;
}
.footer .arrow:hover {
  cursor: pointer;
  color: var(--terciary-color);
}

@keyframes float {
  0%, 100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.main_content {
  background: var(--primary-color);
}/*# sourceMappingURL=index.css.map */